<p>colocar: me tome la libertad de ralizar algunas pruebas con algunas otras funcionalidades de la api de 
jsonplaceholder, como delete y update, realice esta pequeña seccion de portada de inicio (home), la cual incluye
una portada, la consigna de esta tarea, y la seccion de extra donde.

Si bien carezco de experiencia trabajando en empresas, trato de mantener un estilo de programacion austero 
quitando todo lo innecesario pero al mismo tiempo manteniendo el control sobre el codigo, para identificar 
errores rapidamente
</p>
