
<div class="container animate__animated animate__fadeInDown">
        
    <div class="row justify-content-center">


        
        <button [routerLink]="['consigna']" title="Ver consigna" class="btn green-btn col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-1">CONSIGNA</button>
        <button [routerLink]="['extra']" title="Ver información extra" class="btn green-btn  col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-1">EXTRA</button>

    </div>
    <router-outlet></router-outlet>
</div>

   

