<h4 class="animate__animated animate__fadeInDown">FORMULARIO DE REGISTRO</h4>
<form [formGroup]="addPostFormGroup" (ngSubmit)="saveAddPost()"><!---->

  <div class="form-floating mb-3 animate__animated animate__fadeInUp">
    <input formControlName="postToAddTitle" (keyup)="refreshLength()" maxlength="80" type="text" class="form-control" id="floatingInput">
    <label for="floatingInput"><span style="color: red;">*</span>Título {{this.titleLength}}/80</label>
  </div>

  <div class="form-floating mb-3">
    <textarea formControlName="postToAddBody" (keyup)="refreshLength()" maxlength="500" class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2"><span style="color: red;">*</span>Cuerpo {{this.bodyLength}}/500</label>
  </div>

  <div class="plr-auto animate__animated animate__fadeInUp">
    <button  class="btn btn-success" *ngIf="!invalidPostToAddTitle && !invalidPostToAddBody; else labelMandatory" type="submit">✔</button>
    <ng-template #labelMandatory><label>Campos obligatorios (<span style="color: red;">*</span>)</label></ng-template>
  </div>
</form>

<!-- 
<form >
  <div class="modal-body">
      
    
    <div class="form-floating mb-3">
      
    </div>
    <div class="form-floating">
      <textarea formControlName="postToAddBody" (keyup)="refreshLength()" maxlength="500" class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
      <label for="floatingTextarea2"><span style="color: red;">*</span>Cuerpo {{this.bodyLength}}/500</label>
    </div>
  </div>
  <div class="modal-footer">
      <button *ngIf="!invalidPostToAddTitle && !invalidPostToAddBody; else labelMandatory" type="submit" class="btn btn-success" data-bs-dismiss="modal">✔</button>
      <ng-template #labelMandatory><label>Campos obligatorios (<span style="color: red;">*</span>)</label></ng-template>
  </div>
</form> 
-->